.card {
    min-width: 250px;
    border: 1px solid darkseagreen;
    border-radius: 15px;
    background-color: #c7f8c7;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}