.App {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > div {
  margin-right: 50px;
  min-height: 300px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}